.r_addAdmin
  z-index 999
  position fixed
  top rem(0)
  left rem(0)
  width 100%
  height 100%
  background-color rgba(0,0,0,0.4)
  .r_addCenter
    position absolute
    width 600px
    padding 40px
    background-color white
    border-radius 5px
    left 50%
    top 150px
    transform translate(-50%,0)
    h1
      text-align left
    .r_addBox
      margin-top 20px
      p
        >span
          display inline-block
          vertical-align middle
          width 150px
          line-height 50px
          text-align right
        input
          outline none
          border solid rem(1) rgb(153,157,159)
          margin-left 5px
          vertical-align middle
        .r_list
          display inline-block
        .r_lastChild
          >span
            vertical-align top
          p
            >span
              display inline
              margin 0
              padding 0
            span:first-child
              display inline-block
              width 110px
            input
              margin 0 5px
    .r_btn
      text-align center
      margin-top 20px
      span
        display inline-block
        width 120px
        height 36pz
        line-height 36px
        text-align center
        border solid 1px rgba(153,159,158,0.3)
        border-radius 5px
        margin 0 20px
        background-color  #207DF1
        color white
      span:last-child
        background-color  lC