.el-table
  margin-top 20px
  >>>th
    >.cell
      text-align: center
  >>>tbody
    tr
      .cell
        text-align: center
      .is-left
        >.cell
          text-align left
.search
  >div
    margin-top rem(20)
    .searchItem
      margin-right rem(30)
      >span:first-child
        display inline-block
        width rem(120)
        text-align: right
      >>>.el-input
        width rem(200)
.page
  text-align center
  margin-top rem(30)
.el-row
  margin-top rem(30)
  >>> .el-col
    margin-top rem(30)