.el-table
  margin-top 20px
  >>>th
    >.cell
      text-align: center
  >>>tbody
    tr
      .cell
        text-align: center
      .is-left
          >.cell
            text-align left
.search
  >div
    margin-top rem(20)
    .searchItem
      margin-right rem(30)
      >span:first-child
        display inline-block
        width rem(120)
        text-align: right
      >>>.el-input
        width rem(200)
.search
  .bigInput
    width: 100%
  >>> .el-input
    width: 60%
  >>> .el-select
    .el-input
      width: 100%
.page
  text-align center
  margin-top rem(30)
.el-card
  margin-bottom rem(30)
  >>>.el-row
    margin-top rem(10)
.right
  text-align right