.page-content
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1)
    background-color: #fff
    border-radius: 4px
    padding: 20px
    margin-bottom 20px
    color #606266
    .el-date-editor.el-input
      width 100%
    .inLine
      .el-select
        display inline-block !important
    .block
      .el-select
        display block !important
    .page-title
      font-size 16px
      height 50px
      line-height 20px
      .el-button
        float right
    .button-field
      p
       line-height 25px
       span
        color #F17B20
    .button-field-bottom
      padding-bottom: 10px
      text-align center
      margin-top 20px
    .normal-form
      width: 600px
      padding-top: 20px

    .full-width-form
      width: 100%
      padding-top: 20px
      .el-col
        margin-right: 30px
    
  .search-card
    margin-bottom: 15px
    .el-card__header
      padding: 12px 20px
      border-bottom: none
      .icon
        float: right
        font-size: 18px
        font-weight: bold
        cursor: pointer
      span
       font-size 16px
    .el-form-item
      margin-bottom: 12px
    
    .body
      padding: 0 20px 10px
    
    .search-button-container
      text-align: right
      margin: 0 20px 10px 0
    .search-button-containerR
      text-align: left
      margin: 0 20px 10px 0
.none
  text-align center
.el-container 
  .el-main 
    background-color: #f6f6f6
.el-page-header
  padding 10px 
  box-shadow 0 2px 12px 0 rgba(0,0,0,0.1)
  -webkit-box-shadow 0 2px 12px 0 rgba(0,0,0,0.1)
  margin-bottom 10px
.button-field-outter
  text-align center
  margin-top 20px
.el-page-header
  background white
.topFixed
  position fixed
  top 126px
  right 20px
  z-index 999