
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, 
.el-table__body tr.current-row>td {
	background-color: rgba(72,162,255,0.2);
}

.el-table tr.hover-row>td {
  background-color:  #ffec8b !important;
  // background-color: transparent !important;
}
.fenHong {
  background-color: pink;
  color:white;
}
.ziSe {
  background-color: purple;
  color:white;
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: rgba(72,162,255,0.2) !important;
}
.el-table tr:hover {
  background-color: rgba(72,162,255,0.2) !important;
}
.el-table .el-table__body tr.hover-row>td  {
  background-color: rgba(72,162,255,0.2) !important;
}
.ziSe:hover {
  background-color: purple;
}
.el-loading-mask {
  z-index: 99999 !important;
}
// .el-table .cell,.el-table .hover-row {
//   overflow: visible;
// }
// .el-table--enable-row-hover .el-table__body tr:hover>td{
// 	background-color: #9FB6CD;
// }