@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './common.scss';
body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

// main-container global css
.app-container {
  padding: 20px;
}
.el-header, .el-footer {
  background-color: #ffff;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}
.page{
  text-align: center;
  margin-top :rem(30);
}
.page-content{
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    margin-bottom :20px;
    color :#606266;
    .el-date-editor.el-input{
      width :100%
    };
    .inLine{
      .el-select{
        display: inline-block !important
      }
    }
    .block{
      .el-select{
        display :block !important
      }
    }
    .page-title{
      font-size :16px;
      height: 50px;
      line-height: 20px;
      .el-button{
        float :right}
      }
    .button-field{
      p{
       line-height: 25px;
       span{
        color :#F17B20
       }
      }
    }
    .button-field-bottom{
      padding-bottom: 10px;
      text-align :center;
      margin-top: 20px;
    }
    .normal-form{
      width: 600px;
      padding-top: 20px;
    }

    .full-width-form{
      width: 100%;
      padding-top: 20px;
      .el-col{
        margin-right: 30px
      }
    }
}
.search-card{
    margin-bottom: 15px;
    .el-card__header{
      padding: 12px 20px;
      border-bottom: none;
      .icon{
        float: right;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
      }
      span{
       font-size :16px;
      }
}
    .el-form-item{
      margin-bottom: 12px
}
    
    .body{
      padding: 0 20px 10px;
    }
    
    .search-button-container{
      text-align: right;
      margin: 0 20px 10px 0;
  }
    .search-button-containerR{
      text-align: left;
      margin: 0 20px 10px 0;
    }
}